@import "sanitize";
@mixin media-queries-pc {
   @media screen and (min-width: 769px) {
       @content;
   }
}
.hover-op {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
//effect
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }

  5% {
    transform: skew(5deg, 4.2deg);
  }

  10% {
    transform: skew(-4deg, -3deg);
  }

  15% {
    transform: skew(3deg, 2.2deg);
  }

  20% {
    transform: skew(-2deg, -1.5deg);
  }

  25% {
    transform: skew(0.9deg, 0.9deg);
  }

  30% {
    transform: skew(-0.6deg, -0.6deg);
  }

  35% {
    transform: skew(0.3deg, 0.3deg);
  }

  40% {
    transform: skew(-0.2deg, -0.2deg);
  }

  45% {
    transform: skew(0.1deg, 0.1deg);
  }

  50% {
    transform: skew(0deg, 0deg);
  }
}

.pc-only {
    display: none;

    @include media-queries-pc {
        display: block;
    }
}

html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #42218E;
    @include media-queries-pc {
        background-color: #22154c;
    }
}

a {
    outline: none;
}

header{
    position: fixed;
    top: 0;
    & svg:first-child{
        display: block;
        z-index: 1;
        position: fixed;
        top: -30px;

        @include media-queries-pc {
            display: none;
        }
    }
    & a{
        z-index: 1;
        position: fixed;
        top: 1%;
        left: 4%;

        @include media-queries-pc {
            top: 4%;
        }
        & img{
            width: 46px;
            height: auto;

            @include media-queries-pc {
                width: 84px;
            }
        }
    }
    & .title{
        position: fixed;
        z-index: 1;
        width: 100%;
        margin-top: 16%;
        text-align: center;
        @include media-queries-pc {
            margin-top: 4%;
        }
        & img{
            max-width: 170px;
            @include media-queries-pc {
                display: none;
            }
        }
        & svg{
            position: absolute;
            width: 6%;
            margin-top: 5%;
            margin-left: 5%;
            @include media-queries-pc {
                width: 2%;
                right: 18%;
                position: relative;
            }
        }
    }
}

footer{
    & svg{
        position: fixed;
        bottom: -30px;
        @include media-queries-pc {
            bottom: -25px;
            width: 24%;
            left: 38%;
        }
    }
}

#app{
    height: 100vh;
    background-size: contain;
    background-position: center;
    background-image : url(../img/hs_mouth.png);

    @include media-queries-pc {
        position: fixed;
        height: 100%;
        width: 100%;
        bottom: 0;
        background-image : url(../img/hs_monster.png);
    }
    & svg{
        display: none;

        @include media-queries-pc {
            display: block;
            z-index: 1;
            position: fixed;
            width: 24%;
            top: 37%;
            left: 38%;
        }
    }
}

.slot-container{
    padding: 48% 5% 0;
    color: white;

    @include media-queries-pc {
        padding: 17% 0;
        margin: 0px 37%;
    }
    & table{
        width: 100%;
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-top: -12%;

        @include media-queries-pc {
            margin-top: 10%;
        }
    }
    & td{
        display: block;
        padding: 0 10%;
    }
    & td:first-child{
        @include media-queries-pc {
            margin-top: 24%;
        }
    }
    & td:nth-child(2),td:nth-child(3){
        margin-top: 3%;
    }
    & label{
        display: block;
        font-size: .8rem;
        text-align: left;

        @include media-queries-pc {
            font-size: .8rem;
        }
    }
    & tr{
        & div{
            text-align: center;
            padding: 4%;
            border-radius: 10px;
            font-size: 1.4rem;

            @include media-queries-pc {
                font-size: 1.4rem;
            }
        }
        & td:first-child > div{
            background-color: #38a7f8;
        }
        & td:nth-child(2) > div{
            background-color: #77cb38;
        }
        & td:nth-child(3) > div{
            background-color: #ff9400;
        }
    }
    & .push-btn{
        position: fixed;
        bottom: 0;
        left: 10%;
        width: 80%;
        height: 20vh;
        background-size: contain;
        background-position: center;
        background-image : url(../img/hs_tongue.png);
        animation: skew 2.3s linear infinite;

        @include media-queries-pc {
            bottom: -34px;
            left: 42%;
            width: 16%;
            height: 20vh;
        }
        & input{
            width: 80%;
            height: 125px;
            position: fixed;
            left: 10%;
            bottom: 4%;
            border: none;
            outline: none;

            @include media-queries-pc {
                left: 1%;
                bottom: 2%;
                width: 100%;
                height: 17vh;
            }
            &:hover{
                cursor: pointer;
            }
        }
        & span{
            display: block;
            margin-top: 8%;
            text-align: center;
            font-size: 1.6rem;
            @include media-queries-pc {
                margin-top: 35px;
                bottom: 60px;
                font-size: 1.4rem;
            }
        }
    }
}
