/*! sanitize.css v4.0.0 | CC0 License | github.com/10up/sanitize.css */
/* Display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Elements of HTML (https://www.w3.org/TR/html5/semantics.html)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Add a flattened line height in all browsers (opinionated).
 * 4. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

/* Sections (https://www.w3.org/TR/html5/sections.html)
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font sizes and margins on `h1` elements within
 * `section` and `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: .67em 0; }

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */
/**
 * 1. Correct font sizing inheritance and scaling in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * 1. Correct the height in Firefox.
 * 2. Add visible overflow in Edge and IE.
 */
hr {
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Add a bordered underline effect in all browsers.
 * 2. Remove text decoration in Firefox 40+.
 */
abbr[title] {
  border-bottom: 1px dotted;
  /* 1 */
  text-decoration: none;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct colors in IE 9-.
 */
mark {
  background-color: #ffff00;
  color: #000000; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Correct the font size in all browsers.
 */
small {
  font-size: 83.3333%; }

/**
 * Change the positioning on superscript and subscript elements
 * in all browsers (opinionated).
 * 1. Correct the font size in all browsers.
 */
sub,
sup {
  font-size: 83.3333%;
  /* 1 */
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove the gaps in underlines in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline when hovering in all browsers (opinionated.
 */
:hover {
  outline-width: 0; }

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ========================================================================== */
/*
 * Remove border spacing in all browsers (opinionated).
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* transform-style:  (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */
/**
 * 1. Remove the default styling in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  background-color: transparent;
  /* 1 */
  border-style: none;
  /* 1 */
  color: inherit;
  /* 1 */
  font-size: 1em;
  /* 1 */
  margin: 0;
  /* 3 */ }

/**
 * Correct the overflow in IE.
 * 1. Correct the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance in Edge, Firefox, and IE.
 * 1. Remove the inheritance in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent the WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Correct the focus styles unset by the previous rule.
 */
:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the border, margin, and padding in all browsers.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: .35em .625em .75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 2 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Remove the vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  padding: 0; }

/**
 * Correct the cursor style on increment and decrement buttons in Chrome.
 */
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari for OS X.
 */
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style on placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* WAI-ARIA (https://www.w3.org/TR/html5/dom.html#wai-aria)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy="true"] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[hidden][aria-hidden="false"] {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

[hidden][aria-hidden="false"]:focus {
  clip: auto; }

.hover-op {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent; }
  .hover-op:hover {
    cursor: pointer;
    opacity: 0.9; }

.hover-buru {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent; }
  .hover-buru:hover {
    cursor: pointer;
    animation: skew 2.3s linear infinite; }

@keyframes skew {
  0% {
    transform: skew(0deg, 0deg); }
  5% {
    transform: skew(5deg, 4.2deg); }
  10% {
    transform: skew(-4deg, -3deg); }
  15% {
    transform: skew(3deg, 2.2deg); }
  20% {
    transform: skew(-2deg, -1.5deg); }
  25% {
    transform: skew(0.9deg, 0.9deg); }
  30% {
    transform: skew(-0.6deg, -0.6deg); }
  35% {
    transform: skew(0.3deg, 0.3deg); }
  40% {
    transform: skew(-0.2deg, -0.2deg); }
  45% {
    transform: skew(0.1deg, 0.1deg); }
  50% {
    transform: skew(0deg, 0deg); } }
.buruburu {
  animation: skew 2.3s linear infinite; }

.pc-only {
  display: none; }
  @media screen and (min-width: 960px) {
    .pc-only {
      display: block; } }

html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */ }

body {
  height: 100vh;
  overflow: hidden;
  background-color: #42218E; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    body {
      background-color: #22154c; } }
  @media screen and (min-width: 960px) {
    body {
      background-color: #22154c; } }

a {
  outline: none; }

header {
  position: fixed;
  top: 0;
  z-index: 2; }
  header svg.upper-tooth {
    display: block;
    z-index: 1;
    position: fixed;
    top: -30px; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      header svg.upper-tooth {
        display: none; } }
    @media screen and (min-width: 960px) {
      header svg.upper-tooth {
        display: none; } }
  header a.logo {
    z-index: 1;
    position: fixed;
    margin: 1% 4%; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      header a.logo {
        margin: 15px 0 0 15px; } }
    header a.logo img {
      width: 46px;
      height: auto; }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        header a.logo img {
          width: 60px; } }
      @media screen and (min-width: 960px) {
        header a.logo img {
          width: 84px; } }
  header .title {
    position: fixed;
    z-index: 1;
    padding-top: 17%;
    width: 100%;
    text-align: center; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      header .title {
        padding-top: 0; } }
    @media screen and (min-width: 960px) {
      header .title {
        margin-top: 46px;
        padding-top: 0; } }
    header .title img {
      max-width: 170px; }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        header .title img {
          display: none; } }
      @media screen and (min-width: 960px) {
        header .title img {
          display: none; } }
    header .title a {
      position: fixed;
      right: 16%;
      margin-top: 4%;
      width: 22px; }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        header .title a {
          right: 0;
          margin: 15px 15px 0 0; } }
      @media screen and (min-width: 960px) {
        header .title a {
          position: static;
          margin-left: 220px; } }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        header .title a svg {
          width: 18px; } }
      @media screen and (min-width: 960px) {
        header .title a svg {
          width: 25px; } }

footer {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    footer {
      position: fixed;
      bottom: 0; } }
  @media screen and (min-width: 960px) {
    footer {
      position: fixed;
      bottom: 0; } }
  footer svg {
    position: fixed;
    bottom: 0;
    z-index: 2; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      footer svg {
        position: static;
        width: 38vw; } }
    @media screen and (min-width: 960px) {
      footer svg {
        position: static;
        width: 24vw; } }
  footer .push-btn {
    position: fixed;
    bottom: 0;
    width: 80%;
    height: 35vw;
    background-size: contain;
    background-position: center;
    background-image: url(../img/hs_tongue.png);
    animation: skew 2.3s linear infinite;
    color: white;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent; }
    footer .push-btn:hover {
      cursor: pointer; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      footer .push-btn {
        position: fixed;
        bottom: 0;
        height: 11vh; } }
    @media screen and (min-width: 960px) {
      footer .push-btn {
        position: fixed;
        bottom: -34px;
        left: 40%;
        width: 20%;
        height: 12vw; } }
    footer .push-btn input {
      width: 100%;
      height: 35vw;
      position: fixed;
      left: 1%;
      bottom: 0%;
      border: none;
      outline: none; }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        footer .push-btn input {
          height: 11vh;
          width: 30vw;
          left: 32%; } }
      @media screen and (min-width: 960px) {
        footer .push-btn input {
          left: 1%;
          bottom: 2%;
          width: 100%;
          height: 17vh; } }
      footer .push-btn input:hover {
        cursor: pointer; }
    footer .push-btn span {
      display: block;
      margin-top: 15%;
      text-align: center;
      font-size: 1.6rem; }
      @media screen and (min-width: 705px) and (max-width: 960px) {
        footer .push-btn span {
          margin-top: 4%;
          font-size: 1.4rem; } }
      @media screen and (min-width: 960px) {
        footer .push-btn span {
          margin-top: 17%;
          font-size: 1.4rem; } }

#app {
  padding: 50% 0;
  background-size: cover;
  background-position: center;
  background-image: url(../img/hs_mouth.png); }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    #app {
      background-position: bottom;
      background-size: contain;
      padding: 0;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 67%;
      width: 100%;
      bottom: 0;
      background-image: url(../img/hs_monster.png); } }
  @media screen and (min-width: 960px) {
    #app {
      background-position: bottom;
      background-size: contain;
      padding: 0;
      position: fixed;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      bottom: 0;
      background-image: url(../img/hs_monster.png); } }
  #app svg {
    display: block; }

.slot-container {
  color: white; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    .slot-container {
      position: fixed;
      margin: 11% auto;
      width: 40%; } }
  @media screen and (min-width: 960px) {
    .slot-container {
      position: fixed;
      margin: 70px auto;
      width: 27%; } }
  .slot-container table {
    width: 100%;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-top: -12%; }
    @media screen and (min-width: 960px) {
      .slot-container table {
        margin-top: 10%; } }
  .slot-container td {
    display: block;
    padding: 0 10%; }
  .slot-container td:nth-child(2), .slot-container td:nth-child(3) {
    margin-top: 3%; }
  .slot-container label {
    display: block;
    font-size: .8rem;
    text-align: left; }
    @media screen and (min-width: 960px) {
      .slot-container label {
        font-size: .8rem; } }
  .slot-container tr div {
    text-align: center;
    padding: 4%;
    border-radius: 10px;
    font-size: 1.4rem; }
    @media screen and (min-width: 960px) {
      .slot-container tr div {
        font-size: 1.4rem; } }
  .slot-container tr td:first-child > div {
    background-color: #38a7f8; }
  .slot-container tr td:nth-child(2) > div {
    background-color: #77cb38; }
  .slot-container tr td:nth-child(3) > div {
    background-color: #ff9400; }

.modal-container {
  display: none;
  scroll-behavior: smooth;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 4%;
  color: white; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    .modal-container {
      height: auto;
      width: 500px;
      margin-top: 8%;
      margin-left: 15%; } }
  @media screen and (min-width: 960px) {
    .modal-container {
      height: auto;
      width: 500px;
      margin-top: 3%; } }

.modal-box {
  display: block; }

.modal-body {
  padding: 0;
  margin: 7% auto 0; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    .modal-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 12% 0 5%;
      margin: 0 5%; } }
  @media screen and (min-width: 960px) {
    .modal-body {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 3% 3% 0;
      margin: 0 8%; } }

.modal-content {
  text-align: center;
  padding-top: 25%; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    .modal-content {
      padding: 0; } }
  @media screen and (min-width: 960px) {
    .modal-content {
      padding: 0 1%; } }
  .modal-content p {
    padding: 3% 0;
    margin: 0;
    text-align: center;
    font-size: 10px;
    font-size: 1rem; }
    @media screen and (min-width: 705px) and (max-width: 960px) {
      .modal-content p {
        font-size: 12px;
        font-size: 1.2rem; } }
    @media screen and (min-width: 960px) {
      .modal-content p {
        text-align: left;
        padding: 5% 13% 0;
        font-size: 12px;
        font-size: 1.2rem; } }

.modal-close {
  position: absolute !important;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
  z-index: 5;
  color: white;
  width: 30px;
  height: 30px; }
  @media screen and (min-width: 705px) and (max-width: 960px) {
    .modal-close {
      margin-top: 15px;
      margin-right: 10px; } }
  @media screen and (min-width: 960px) {
    .modal-close {
      margin-top: 10px;
      right: -7px; } }
  .modal-close:hover {
    cursor: pointer; }

.modal-close-button {
  margin-left: -10px; }
  .modal-close-button::before {
    content: '';
    display: block;
    margin-bottom: 17px;
    width: 30px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: translate(5px, 0) rotate(45deg);
    -ms-transform: translate(5px, 0) rotate(45deg);
    transform: translate(5px, 0) rotate(45deg); }
  .modal-close-button::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
    -webkit-transform-origin: left bottom;
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
    -webkit-transform: translate(5px, 0) rotate(-45deg);
    -ms-transform: translate(5px, 0) rotate(-45deg);
    transform: translate(5px, 0) rotate(-45deg); }

.modal-button-inner {
  display: block;
  opacity: 0; }

.modal-overlay {
  z-index: 4;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(245, 78, 162, 0.95);
  opacity: 0.8; }

/*# sourceMappingURL=styles.css.map */
