@import "sanitize";
$brand-c: #22154C;

@mixin media-queries-tab {
    @media screen and (min-width:705px) and (max-width:960px) {
        @content;
    }
}
@mixin media-queries-pc {
    @media screen and (min-width: 960px) {
        @content;
    }
}

.hover-op {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}
.hover-buru {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    &:hover {
        cursor: pointer;
        animation: skew 2.3s linear infinite;
    }
}

//effect
@keyframes skew {
  0% {
    transform: skew(0deg, 0deg);
  }

  5% {
    transform: skew(5deg, 4.2deg);
  }

  10% {
    transform: skew(-4deg, -3deg);
  }

  15% {
    transform: skew(3deg, 2.2deg);
  }

  20% {
    transform: skew(-2deg, -1.5deg);
  }

  25% {
    transform: skew(0.9deg, 0.9deg);
  }

  30% {
    transform: skew(-0.6deg, -0.6deg);
  }

  35% {
    transform: skew(0.3deg, 0.3deg);
  }

  40% {
    transform: skew(-0.2deg, -0.2deg);
  }

  45% {
    transform: skew(0.1deg, 0.1deg);
  }

  50% {
    transform: skew(0deg, 0deg);
  }
}
.buruburu {
    animation: skew 2.3s linear infinite;
}

.pc-only {
    display: none;

    @include media-queries-pc {
        display: block;
    }
}

html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  line-height: 1.5;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 5 */
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #42218E;
    @include media-queries-tab {
        background-color: #22154c;
    }
    @include media-queries-pc {
        background-color: #22154c;
    }
}
div,p,span,a,label{
    font-family: "Rounded Mplus 1c";
}
a {
    outline: none;
}

.cls-1 {
    fill:#fff;
}

header{
    position: fixed;
    top: 0;
    z-index:2;
    & svg.upper-tooth{
        display: block;
        z-index: 1;
        position: fixed;
        top: -30px;
        @include media-queries-tab {
            display: none;
        }
        @include media-queries-pc {
            display: none;
        }
    }
    & a.logo{
        z-index: 1;
        position: fixed;
        margin: 1% 4%;
        @include media-queries-tab {
            margin: 15px 0 0 15px;
        }
        @include media-queries-pc {

        }
        & img{
            width: 46px;
            height: auto;
            @include media-queries-tab {
                width: 60px;
            }
            @include media-queries-pc {
                width: 84px;
            }
        }
    }
    & .title{
        position: fixed;
        z-index: 1;
        margin-top: 17%;
        width: 100%;
        text-align: center;
        @include media-queries-tab {
            margin-top: 0;
        }
        @include media-queries-pc {
            margin-top: 46px;
        }
        & img{
            max-width: 170px;
            @include media-queries-tab {
                display: none;
            }
            @include media-queries-pc {
                display: none;
            }
        }
        & a{
            position: fixed;
            right: 16%;
            margin-top: 4%;
            width: 22px;
            @include media-queries-tab {
                right: 0;
                margin: 15px 15px 0 0;
            }
            @include media-queries-pc {
                position: static;
                margin-left: 220px;
            }
            & svg{
                @include media-queries-tab {
                    width: 18px;
                }
                @include media-queries-pc {
                    width: 25px;
                }
            }
        }
    }
}

footer{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include media-queries-tab {
        position: fixed;
        bottom: 0;
    }
    @include media-queries-pc {
        position: fixed;
        bottom: 0;
    }
    & svg{
        position: fixed;
        bottom: 0;
        z-index: 2;
        @include media-queries-tab {
            position: static;
            width: 38vw;
        }
        @include media-queries-pc {
            position: static;
            width: 24vw;
        }
    }
    & .push-btn{
        position: fixed;
        bottom: 0;
        width: 80%;
        height: 35vw;
        background-size: contain;
        background-position: center;
        background-image : url(../img/hs_tongue.png);
        animation: skew 2.3s linear infinite;
        color: white;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-tap-highlight-color: transparent;
        transform: translateZ(0);
        box-shadow: 0 0 1px transparent;
        &:hover {
            cursor: pointer;
        }
        @include media-queries-tab {
            position: fixed;
            bottom: 0;
            height: 11vh;
        }
        @include media-queries-pc {
            position: fixed;
            bottom: -34px;
            left: 40%;
            width: 20%;
            height: 12vw;
        }
        & input{
            width: 100%;
            height: 35vw;
            position: fixed;
            left: 1%;
            bottom: 0%;
            border: none;
            outline: none;
            @include media-queries-tab {
                height: 11vh;
                width: 30vw;
                left: 32%;
            }
            @include media-queries-pc {
                left: 1%;
                bottom: 2%;
                width: 100%;
                height: 17vh;
            }
            &:hover{
                cursor: pointer;
            }
        }
        & span{
            display: block;
            margin-top: 15%;
            text-align: center;
            font-size: 1.6rem;
            @include media-queries-tab {
                margin-top: 4%;
                font-size: 1.4rem;
            }
            @include media-queries-pc {
                margin-top: 17%;
                font-size: 1.4rem;
            }
        }
    }
}

#app{
    padding: 50% 0;
    background-size: cover;
    background-position: center;
    background-image : url(../img/hs_mouth.png);
    @include media-queries-tab {
        background-position: bottom;
        background-size: contain;
        padding: 0;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 67%;
        width: 100%;
        bottom: 0;
        background-image : url(../img/hs_monster.png);
    }
    @include media-queries-pc {
        background-position: bottom;
        background-size: contain;
        padding: 0;
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        bottom: 0;
        background-image : url(../img/hs_monster.png);
    }
    & svg{
        display: block;
    }
}

.slot-container{
    color: white;
    @include media-queries-tab {
        position: fixed;
        margin: 11% auto;
        width: 40%;
    }
    @include media-queries-pc {
        position: fixed;
        margin: 70px auto;
        width: 27%;
    }
    & table{
        width: 100%;
        margin: auto;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-top: -12%;

        @include media-queries-pc {
            margin-top: 10%;
        }
    }
    & td{
        display: block;
        padding: 0 10%;
    }
    & td:nth-child(2),td:nth-child(3){
        margin-top: 3%;
    }
    & label{
        display: block;
        font-size: .8rem;
        text-align: left;

        @include media-queries-pc {
            font-size: .8rem;
        }
    }
    & tr{
        & div{
            text-align: center;
            padding: 4%;
            border-radius: 10px;
            font-size: 1.4rem;

            @include media-queries-pc {
                font-size: 1.4rem;
            }
        }
        & td:first-child > div{
            background-color: #38a7f8;
        }
        & td:nth-child(2) > div{
            background-color: #77cb38;
        }
        & td:nth-child(3) > div{
            background-color: #ff9400;
        }
    }
}

.modal-content {
    position:fixed;
    display:none;
    z-index: 5;
    top: 0;
    max-height: 100%;
    padding: 12% 7%;
    overflow: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include media-queries-pc{
        width: auto;
        height: auto;
        padding: 5% 15%;
    }
    & p {
        padding: 3% 0;
        margin: 0;
        text-align: center;
        font-size: 11px;
        font-size: 1.1rem;
        @include media-queries-tab {
            font-size: 14px;
            font-size: 1.4rem;
        }
        @include media-queries-pc {
            padding: 2% 13% 0;
            padding: 2% 0;
            margin: 0 auto;
            width: 56%;
            font-size: 12px;
            font-size: 1.2rem;
        }
    }
}

.modal-body{
    color: white;
}
.modal-close{
    position: absolute;
    right: 15px;
    top: -5px;
    @include media-queries-pc {
        right: 65px;
        top: 25px;
    }
    color: white;
    a {
        font-size: 45px;
        @include media-queries-pc {
            font-size: 60px;
        }
    }
}

.modal-overlay {
    z-index: 4;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245, 78, 162,.95);
    opacity: 0.8;
}
